<!DOCTYPE html>
<html  lang="fr">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div id="content" class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//stats.infopiiaf.fr/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 10]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//stats.infopiiaf.fr/piwik.php?idsite=10" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->

    <script type="text/javascript" src="{% link js/jquery.min.js %}"></script>
    <script type="text/javascript" src="{% link js/jquery.prettyPhoto.js %}"></script>
    <script type="text/javascript" src="{% link js/application.js %}"></script>
  </body>
</html>
