/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}

strong {
  color: black;
  font-weight: 400
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

.plantuml {
  @extend %vertical-rhythm;

  display: none;
}

/**
 * Figures
 */
figure {
  text-align: center;

  img {
    border-radius: 4px;
    box-shadow: 0 4px 12px black;
  }
}

figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
    text-align: left;
}



/**
 * Lists
 */
ul, ol, dl dd {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

/**
 * Tables
 */
table {
  border-collapse: collapse;
  margin: 1em 0;
  text-align: center;
  width: 100%;
}

td {
  border-bottom: 1px dotted $grey-color-light;
  border-right: 1px dotted $grey-color-light;

  &:last-of-type {
    border-right: 0px;
  }

  tr:last-of-type & {
    border-bottom: 0px;
  }
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 1.25em 0 0.8em;

  em {
    font-style: normal;
    text-decoration: underline;
    text-decoration-style: dotted;
  }
}

h2 {
    color: $brand-color;
    font-size: 32px;
    text-align: center;

    @include media-query($on-laptop) {
        font-size: 28px;
    }
}

h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
        font-size: 22px;
    }
}

h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
        font-size: 18px;
    }
}

/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 5%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * External links
 */
.external:after {
    content: " \f08b";
    font-family: 'FontAwesome';
    font-size: 0.7em;
    vertical-align: super;
}


.display-off { display: none; }
