<div class="wrapper">

  <p id="back-to-top">
    <a href="#quick-access-link">Retour au début de la page <i class="fa fa-arrow-circle-up"></i></a>
  </p>

</div>

<footer id="footer" class="site-footer">

  <div class="wrapper">

    <h2 id="contact-us" class="footer-heading">N'hésitez pas à nous solliciter.</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="contact-list">
          <li>{{ site.contacts.functional.name }}</li>
          <li>{{ site.contacts.functional.title }}</li>
          <li><a href="mailto:{{ site.contacts.functional.email }}" class="external"><i class="fa fa-paper-plane"></i> Envoyez un courriel</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <ul class="contact-list">
          <li>{{ site.contacts.technical.name }}</li>
          <li>{{ site.contacts.technical.title }}</li>
          <li><a href="mailto:{{ site.contacts.technical.email }}" class="external"><i class="fa fa-paper-plane"></i> Envoyez un courriel</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <ul class="appendice-list">
          <li><a href="https://framagit.org/filae" title="Groupe Framagit FILAÉ"><i class="fa fa-gitlab"></i> Code source</a></li>
          {% assign footer_pages = site.pages | where: 'nav', 'footer' | sort: 'order' %}
          {% for page in footer_pages %}
            {% if page.title %}
            <li><a class="page-link" href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <p id="licence"><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/deed.fr" class="external"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a> Tous les contenus de ce site sont mis à disposition selon les termes de la <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/deed.fr" class="external">Licence Creative Commons Attribution - Partage dans les Mêmes Conditions 4.0 International</a>.</p>
</footer>
