<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | strip_html }}{% else %}{{ site.title }}{% endif %} - FILAÉ, logiciel libre pour Unité Médico-Judiciaire.</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{% link css/main.scss %}">
  <link rel="stylesheet" href="{% link css/font-awesome.min.css %}">
  <link rel="stylesheet" href="{% link css/prettyPhoto.css %}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | relative_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{% link feed.xml %}">
</head>
